
tmp/

# Ansible

/ansible/roles/contrib
/ansible/inventory/*.yml
/ansible/inventory/*.ini
/ansible/plays/*/ansible.cfg

*.retry

# Vagrant

vagrant/.vagrant/
vagrant/.ssh/

# Misc

.DS_Store

*.sublime-project
*.sublime-workspace
